<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="esmConnectionString" connectionString="Data Source=XOGOST-LAPTOP\SQLEXPRESS2008R2;Initial Catalog=esm;User ID=sa;Password=x9o6g4o6s7t8"
      providerName="System.Data.SqlClient" />
    <add name="esmConnectionString1" connectionString="Data Source=XOGOST-LAPTOP\SQLEXPRESS2008R2;Initial Catalog=esm;Persist Security Info=True;User ID=sa;Password=x9o6g4o6s7t8"
      providerName="System.Data.SqlClient" />
    <add name="AgendaESMConnectionString" connectionString="Data Source=XOGOST-LAPTOP\SQLEXPRESS2008r2;Initial Catalog=AgendaESM;Persist Security Info=True;User ID=sa;Password=x9o6g4o6s7t8"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="es" culture="es-CO"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx" name="AUTH"/>
    </authentication>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>