html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    font-family: "Lucida Grande" , "Lucida Sans Unicode" , Helvetica, Arial, Verdana, sans-serif;
}
body
{
    background: #DDDDDD;
}
#subcuerpo
{
    -moz-box-shadow: 0px 0px 16px #000000;
    -webkit-box-shadow: 0px 0px 16px #000000;
    box-shadow: 0px 0px 16px #000000; /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    background: #ffffff;
    margin: 0 auto;
    width: 90%;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 100%;
}
#subcuerpo h1
{
    font: 26px/28px "Lucida Grande" , "Lucida Sans Unicode" , Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
}
.demo input[type=text], input[type=password]
{
    font: 12px/13px "Lucida Grande" , "Lucida Sans Unicode" , Helvetica, Arial, Verdana, sans-serif; /*text-align: center;*/
}
#subcuerpo p
{
    font: 13px/15px "Lucida Grande" , "Lucida Sans Unicode" , Helvetica, Arial, Verdana, sans-serif;
}
#subcuerpo header
{
    height: 100px;
}
#subcuerpo header hgroup, p
{
    margin-left: 20px;
}
#subcuerpo #nav
{
    margin: 0 auto;
    font-size: 12px;
    clear: both;
    text-align: right;
    width: 99.9%;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    border-bottom: 1px solid #999999;
    color: #005EA7;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#subcuerpo #nav a
{
    text-decoration: none;
    color: #005EA7;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
#subcuerpo #nav li
{
    float: left;
    display: inline;
    width: 100px;
    height: 30px;
    list-style-type: none;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #005EA7;
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    border-left: 1px solid #d5d5d5;
}
#subcuerpo #nav li:hover
{
    vertical-align: middle;
    float: left;
    height: 30px;
    display: inline;
    list-style-type: none;
    text-align: center;
    background: #005ea7 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    width: 100px;
    line-height: 30px;
    cursor: pointer; /*border: 1px solid #005EA7;*/
    background: #005EA7 url(images/ui-bg_glass_25_005ea7_1x400.png) 50% 50% repeat-x;
    color: white;
}
#subcuerpo #nav li a:hover
{
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #005EA7;
    background: #005EA7 url(images/ui-bg_glass_25_005ea7_1x400.png) 50% 50% repeat-x; /*font-weight: bold;*/
    color: white;
}
#subcuerpo section
{
    clear: both;
}
#menu_left
{
    margin: 8 auto;
    clear: both;
    float: left;
    height: 30px;
    width: 70%;
    margin: 0;
}
#LgStatus
{
    margin-right: 10px;
}
#subcuerpo footer
{
}
#ContentPlaceHolder1_lgESM
{
    height: 100%;
}
.menuprincipalbyconfiguracion
{
    width: 700px;
    padding: 6px;
    text-align: justify;
    margin: 0 auto;
    font-size: 12px;
    border: 0;
}
.menuprincipalbyconfiguracion .th
{
    vertical-align: middle;
    line-height: 70px;
    height: 70px;
}

.menuprincipalbyconfiguracion .th
{
    color: #005EA7;
    line-height: 70px;
}
.menuprincipalbyconfiguracion .h1
{
    color: #005EA7;
    line-height: 70px;
}

.menuprincipalbyconfiguracion .td
{
    width: 300px;
    vertical-align: top;
}
.menuprincipalbyconfiguracion h3
{
    color: #005EA7;
    font-size: 16px;
    cursor: pointer;
}
.trgris
{
    color: #000000;
    line-height: 40px;
    height: 40px;
    text-align: left;
    background: #EDEDED; /*c4c4c4*/
    padding: 3px;
    font-size: 12px;
}
.trgris td
{
    padding: 0 5px;
}
.trblanca td
{
    padding: 0 5px;
}
.trblanca
{
    color: #000000;
    font-size: 12px;
    padding: 3px;
    line-height: 40px;
    height: 40px;
    text-align: left;
    background: #FFFFFF; /*EDEDED*/
}
.trheaderPadre
{
    font-size: 18px;
    color: #ffffff; /*color: #999999;*/
    line-height: 40px;
    font-weight: bold;
    height: 40px;
    background: #e0081d;
}
.trheader
{
    font-size: 13px;
    color: #005EA7; /*color: #999999;*/
    line-height: 40px;
    height: 40px;
    background: #dddddd;
    font-weight: bold;
}
